
<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
    <script type="text/javascript">
        function empty() {
            var tentativeNickname = document.getElementById("nickname").value;
            if (tentativeNickname.trim() == "") {
                alert("Enter a valid nickname");
                return false;
            };
        }
        </script>
    <div class="pagecenter centeredsubElements">
        <div class="guidetext">
            <div class="imageicon">
                <img src="/images/developer_couple.png"/>
            </div>
            <h1 style="margin-top:0">Code Guru</h1>
            <form action="/login" method="post">
                <label for="nickname">Choose a nickname:</label><br>
                <input type="text" id="nickname" name="nickname" placeholder="Insert your nickname" ><br>
                <input type="submit" value="Submit" onClick="return empty()" >
            </form>
            <p style="font-size:12px">v<%= toolVersion %></p>
        </div>

    </div>
    <div style="font-size:12px; position:absolute; left:0; color:black; bottom:0; margin: 8px;">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>


</body>
</html>
